* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

html {
  min-height: 100%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 16px;
}

h4{
  font-size: 14px;
}

.filter-and-new {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

#filter-star-form {
  margin-left: -5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: white;
}

/* ICONS */
.fa {
  margin-right: 2px;
}
.fa-star {
  font-size: 8px;
}

.fa-heart {
  color: red;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 1px;
}

.fa-plus {
  color: white;
  padding-right: 5px;
}

.fa-expand {
  color: white;
  margin-right: 5px;
}

.fa-compress {
  color: white;
  margin-right: 5px;
}

.fa-trash-alt {
  color: white;
  margin-right: 5px;
}

.fa-save {
  color: white;
  margin-right: 5px;
}

.fa-times {
  color: white;
  margin-right: 5px;
}
/* END OF ICONS */


/* BOOKMARK LIST */
.expanded-element {
  border: 2px;
}

.bookmark-list-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bookmark-element {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: DodgerBlue;
  border: none;
  border-radius: 3px;
  color: white;
}

.bookmark-top-row {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
}

.bookmark-bottom-row {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
}

#description {
  padding: 10px;
  margin-bottom: 0em;
  color: white;
  font-size:12px;
}


.url-link {
  flex-grow: 1;
}

.bookmark-top-row:hover a{
  color: rgb(255, 174, 0);
}

.bookmark-btn {
  border-radius: 3px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.bookmark.btn:hover {
  color: yellow;
}
/* END OF BOOKMARK LIST */


/* BUTTONS */
.btn {
  border-radius: 3px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}

.expand {
  padding-left: 13px;
  padding-right: 13px;
}

.btn:hover {
  background-color: RoyalBlue;
}

.expand-collapse {
  display: inline;
  margin-top: 4px;
}
/* END OF BUTTONS */


/* BOOKMARK FORM */
fieldset {
  border: none;
  margin: 0;
}

.add-bookmark {
  background-color: rgba(0, 26, 255, 0.233);
  color: white;
  border-radius: 3px;
  border: 3px dashed #3694ff;
  margin: 2px;
}

.add-bookmark input {
  background-color: rgba(255, 255, 255, 0.377);
  border: 1px solid white;
  padding: 3px;
  padding-left: 5px;
}

.save-cancel-buttons-row{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
}


#input-label-force-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.starRating{
  margin-left: 8px;
}

.star-rating {
  margin-top: 4px;
  flex-grow: 1;
  color: white;
  cursor: pointer;
}

#rating1,
#rating2,
#rating3,
#rating4,
#rating5{
  font-size: 10px;
}

#title,
#url,
#desc{
  min-width: 150px;
  margin-left: 20px;
  font-size: 12px;
}

#desc{
  min-width: 150px;
  margin-left: 10px;
  font-size: 12px;
}

/* END OF BOOKMARK FORM */


/* BEGINNING OF STAR RATING */
body {
  display: flex;
  min-height: 100vh;
  min-width: 300px;
  max-width: 600px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  padding-bottom: 10px;
  line-height: 1.5;
  word-wrap: break-word;
  background: linear-gradient(rgba(231, 119, 0, 0.603), rgba(125, 47, 197, 0.5));
}

p {
  margin: 0 0 1.5em;
  padding: 0;
}

a {
  color: rgba(255, 217, 0, 0);
  text-decoration: none;
}

.starRating:not(old) {
  display: inline-block;
  width: 7.5em;
  height: 1.5em;
  overflow: hidden;
  vertical-align: bottom;
}

.starRating:not(old)>input {
  margin-right: -100%;
  opacity: 0;
}

.starRating:not(old)>label {
  display: block;
  float: right;
  position: relative;
  background: url('./images/star-off.svg');
  background-size: contain;
}

.starRating:not(old)>label:before {
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: url('./images/star-on.svg');
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
}


.starRating:not(old)>label:hover:before,
.starRating:not(old)>label:hover~label:before,
.starRating:not(:hover)> :checked~label:before {
  opacity: 1;
}
/* END OF STAR RATING */


@media screen and (min-width: 515px){
/* BOOKMARK FORM */
fieldset {
  border: none;
  margin: 0;
}

.add-bookmark {
  background-color: rgba(0, 26, 255, 0.233);
  color: white;
  border-radius: 3px;
  border: 3px dashed #3694ff;
  margin: 2px;
}

.add-bookmark input {
  background-color: rgba(255, 255, 255, 0.377);
  border: 1px solid white;
  padding: 3px;
  padding-left: 5px;
}


.bookmark-input-top-row{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.bookmark-input-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.save-cancel-buttons-row{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
}


#input-label-force-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.starRating{
  margin-left: 8px;
}

.star-rating {
  margin-top: 4px;
}

#rating1,
#rating2,
#rating3,
#rating4,
#rating5{
  font-size: 10px;
}

#title,
#url,
#desc{
  min-width: 150px;
  margin-left: 20px;
  font-size: 12px;
}

#desc{
  min-width: 150px;
  margin-left: 10px;
  font-size: 12px;
}
/* END OF BOOKMARK FORM */
}