* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

html {
  min-height: 100%;
}

header {
  display: contents;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 16px;
}

.filter-and-new {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: white;
}

/* ICONS */
.fa {
  margin-right: 2px;
}

.star-rating {
  margin-left: 40px;
}

.fa-star {
  font-size: 8px;
}

.fa-heart {
  color: red;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 1px;
}

.fa-plus {
  color: white;
  padding-right: 5px;
}



.fa-heart {
  color: red;
}

/* END OF ICONS */



/* BOOKMARK FORM */

fieldset {
  border: none;
}

#title,
#url,
#desc{
  margin: 10px;
  width: 77%;
}

label{
 display: inline-block;
}

.add-bookmark-input-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.input-label {
  display: inline-block;
  padding-top: 10px;
}

.add-bookmark-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 100%;
  font-size: 14px;
}

.add-bookmark {
  color: white;
  border-radius: 3px;
  border: 3px dashed #3694ff;
  margin: 2px;
}

.add-bookmark input {
  background-color: rgba(255, 255, 255, 0.377);
  border: 1px solid white;
  padding: 3px;
  padding-left: 5px;
}

.bookmark-form-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }

.starRating{
  margin-left: 8px;
}

/* END OF BOOKMARK FORM */



/* BOOKMARK LIST */
.collapsed-element {}

.expanded-element {
  border: 2px;
}

.bookmark-list-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bookmark-element {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: DodgerBlue;
  border: none;
  border-radius: 3px;
  color: white;
}

.bookmark-top-row {
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.bookmark-bottom-row {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.delete-bookmark-button {
  margin-right: 15px;
}

#description {
  display: inline-block;
  padding-left: 20px;
  padding-top: 8px;
  margin-bottom: 0em;
  color: white;
  font-size: 10px;
}

.url-link {
  display: flex;
  justify-content: space-between;
  width: 70%; 
}

.bookmark-btn {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 0px;
  font-size: 10px;
  cursor: pointer;
}

/* END OF BOOKMARK LIST */

/* BUTTONS */
.btn {
  border-radius: 3px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}

.expand-collapse {
  display: inline;
}

/* END OF BUTTONS */


/* BEGINNING OF STAR RATING */
body {
  display: flex;
  min-height: 100vh;
  min-width: 300px;
  max-width: 700px;
  flex-direction: column;
  margin: 0;
  padding: 1.5em;
  padding-bottom: 10px;
  line-height: 1.5;
  word-wrap: break-word;
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

p {
  margin: 0 0 1.5em;
  padding: 0;
}

a {
  color: rgba(255, 217, 0, 0);
  text-decoration: none;
}

.starRating:not(old) {
  display: inline-block;
  width: 7.5em;
  height: 1.5em;
  overflow: hidden;
  vertical-align: bottom;
}

.starRating:not(old)>input {
  margin-right: -100%;
  opacity: 0;
}

.starRating:not(old)>label {
  display: block;
  float: right;
  position: relative;
  background: url('/assets/star-off.svg');
  background-size: contain;
}

.starRating:not(old)>label:before {
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: url('/assets/star-on.svg');
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.starRating:not(old)>label:hover:before,
.starRating:not(old)>label:hover~label:before,
.starRating:not(:hover)> :checked~label:before {
  opacity: 1;
}

/* END OF STAR RATING */


/* @media screen and (min-width: 450px) and (max-width: 800px) { */
/*TABLET*/


/* @media screen and (min-width: 800px) { */
/*DESKTOP*/